<div class="banner" style="background-image:url('<%= image_path "banner.jpg" %>')">
 <h1><%= @category.name%></h1>
 </div>

 <div class= "container">
  <div class="categories">
    <h1>Recipes</h1>
    <%= link_to "Add Recipe", new_category_bookmark_path(@category) %>
  </div>

  <div class="row justify-content-between card-list-2">
     <%@category.bookmarks.each do |bookmark|%>
        <div class="card col-5">

                <img id="recipe-images" src="<%= bookmark.recipe.image_url %>"/>
                <div class="name-description">
                <b><%=bookmark.recipe.name%></b>
                 <h4><%=bookmark.recipe.description%></h4>
                 </div>
                 <div class="comment-rating">
                <h4>⭐⭐⭐⭐⭐<%=bookmark.recipe.rating%><h4>
                <h5><b>"</b><%=bookmark.comment%> <b>"</b></h5>
                </div>
                <p><%= link_to "Delete", bookmark_path(bookmark),
                  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></p>

        </div>
    <% end %>
  </div>
</div>



  <%= link_to "Go back", "/categories"%>
